In [154]:
# для интеграции Postgres с Python, используется модуль psycopg2.
# psycopg2 - это адаптер базы данных Postgres для Python

import psycopg2

con = psycopg2.connect(
  database="Nenashev_schedule",
  user="postgres", 
  password="20111996", 
  host="127.0.0.1",
    
  port="5432"
)

print("Database opened successfully")

Database opened successfully

# Creation of database

In [155]:

cur = con.cursor()
cur.execute('''CREATE TABLE IF NOT EXISTS form ( 
  id_ int8 PRIMARY KEY,
  name_ varchar not null
) WITHOUT OIDS;

CREATE TABLE IF NOT EXISTS day_of_the_week ( 
  id_ int8 PRIMARY KEY,
  name_ varchar not null
) WITHOUT OIDS;

CREATE TABLE IF NOT EXISTS form_st ( 
  id_ int8 PRIMARY KEY,
  name_ varchar not null
) WITHOUT OIDS;


CREATE TABLE IF NOT EXISTS st_group ( 
  id_ int8 PRIMARY KEY,
  number_ varchar not null
  form_st int8
) WITHOUT OIDS;

CREATE TABLE IF NOT EXISTS audience ( 
  id_ int8 PRIMARY KEY,
  number_ varchar not null
) WITHOUT OIDS;

CREATE TABLE IF NOT EXISTS lesson ( 
  id_ int8 PRIMARY KEY,
  name_ varchar not null
) WITHOUT OIDS;

CREATE TABLE IF NOT EXISTS teacher ( 
  id_ int8 PRIMARY KEY,
  name_ varchar not null
) WITHOUT OIDS;


CREATE TABLE IF NOT EXISTS class_ ( 
  id_ serial8 PRIMARY KEY,
  number_ int8,
  time_start time not null,
  time_end time not null,
  lesson_id int8 not null,
  teacher_id int8 not null,
  group_id int8 not null,
  form_id int8 not null,
  day_of_the_week_id int8 not null,
  audience_id int8 not null,
FOREIGN KEY (lesson_id) REFERENCES lesson (id_),
FOREIGN KEY (teacher_id) REFERENCES teacher (id_),
FOREIGN KEY (group_id) REFERENCES st_group (id_),
FOREIGN KEY (form_id) REFERENCES form (id_),
FOREIGN KEY (day_of_the_week_id) REFERENCES day_of_the_week (id_),
FOREIGN KEY (audience_id) REFERENCES audience (id_)
) WITHOUT OIDS; ''')

# Insert template data

In [131]:
# дни недели
days_of_the_week = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday',
                    'sunday']

for i in range(1,len(days_of_the_week)+1):
    query = "INSERT INTO day_of_the_week VALUES (" + str(i) + ",\'" + days_of_the_week[i-1]\
            + "\');"
    cur.execute(query)
    con.commit()

# апдейт значений
for i in range(1, len(days_of_the_week)+1):
    query = "UPDATE day_of_the_week SET name_ = \'" + days_of_the_week[i-1] + "\' " + \
            "WHERE day_of_the_week.id_ = " + str(i) + ";"
    #cur.execute(query)
    con.commit()
  
# удаление элемента с id_ = 0 
#cur.execute('''DELETE FROM day_of_the_week WHERE id_ = 0''')

### checking days of the week

In [132]:
cur.execute('''SELECT * FROM day_of_the_week''')
for row in cur:
    print(row)

(1, 'monday')
(2, 'tuesday')
(3, 'wednesday')
(4, 'thursday')
(5, 'friday')
(6, 'saturday')
(7, 'sunday')

In [133]:
# форма обучения
form_st = ['full-time', 'part-time']


for i in range(1,len(form_st) + 1):
    query = "INSERT INTO form_st VALUES (" + str(i) + ",\'" + form_st[i-1] + "\');"
    cur.execute(query)
    con.commit()

# апдейт значений    
#cur.execute('''UPDATE form_st SET name_ = 'full-time' WHERE form_st.id_ = 1''')
#cur.execute('''UPDATE form_st SET name_ = 'part-time' WHERE form_st.id_ = 2''')

In [113]:
# форма занятия: стандартная, факультативная
form = ['standard', 'optional']

for i in range(1,len(form)):
    query = "INSERT INTO form VALUES (" + str(i) + ",\'" + form[i-1] + "\');"
    cur.execute(query)
    con.commit()
 
cur.execute('''SELECT * FROM form''')
for row in cur:
    print(row)

(1, 'standard')

In [134]:
# преподаватели
teachers = ['Александрова Е. Б.', 'Бедрина М. Е.', 'Бутырский Е. Ю.', 'Ведякова А. О.',
            'Владимирова Л. В.', 'Ганкевич И. Г.']

for i in range(1,len(teachers)+1):
    query = "INSERT INTO teacher VALUES (" + str(i) + ",\'" + teachers[i-1] + "\');"
    cur.execute(query)
    con.commit()

cur.execute('''SELECT * FROM teacher''')
for row in cur:
    print(row)

(1, 'Александрова Е. Б.')
(2, 'Бедрина М. Е.')
(3, 'Бутырский Е. Ю.')
(4, 'Ведякова А. О.')
(5, 'Владимирова Л. В.')
(6, 'Ганкевич И. Г.')

In [145]:
# предметы
lessons = ['Основы программирования', 'Проектирование баз данных', 'Алгоритмы', 
           'Теория устойчивости', 'Математический анализ', 'Теория управления']

for i in range(1,len(lessons)+1):
    query = "INSERT INTO lesson VALUES (" + str(i) + ",\'" + lessons[i-1] + "\');"
    cur.execute(query)
    con.commit()
    

cur.execute('''SELECT * FROM lesson''')
for row in cur:
    print(row)

(1, 'Основы программирования')
(2, 'Проектирование баз данных')
(3, 'Алгоритмы')
(4, 'Теория устойчивости')
(5, 'Математический анализ')
(6, 'Теория управления')

In [138]:
# аудитории
audiences = ['225Д', '403Е', '447Д', '123Д', '480Д', '111А', '808Е']

for i in range(1,len(audiences)+1):
    query = "INSERT INTO audience VALUES (" + str(i) + ",\'" + audiences[i-1] + "\');"
    cur.execute(query)
    con.commit()

cur.execute('''SELECT * FROM audience''')
for row in cur:
    print(row)

(1, '225Д')
(2, '403Е')
(3, '447Д')
(4, '123Д')
(5, '480Д')
(6, '111А')
(7, '808Е')

In [146]:
# академические группы
st_group = ['19.11', '19.12', '19.13', '19.14', '19.15', '19.16', '19.17', '19.18']

for i in range(1,len(st_group)+1):
    query = "INSERT INTO st_group VALUES (" + str(i) + ",\'" + st_group[i-1] + "\');"
    cur.execute(query)
    con.commit()

cur.execute('''SELECT * FROM st_group''')
for row in cur:
    print(row)

(1, '19.11')
(2, '19.12')
(3, '19.13')
(4, '19.14')
(5, '19.15')
(6, '19.16')
(7, '19.17')
(8, '19.18')

In [156]:
# функция добавления пары в БД
def add_class(time_start, time_end,lesson_id, teacher_id, group_id, audience_id, number_ = 1, form_id  = 1, day_of_the_week_id = 1):
    query = '''INSERT INTO class_ (time_start, time_end, lesson_id, teacher_id, group_id, audience_id, number_, form_id, day_of_the_week_id) VALUES (" 
    + "\'" + str(time_start) + ',' + str(time_end) + ',' + str(lesson_id) + ',' + str(teacher_id) + ',' + str(group_id) + ','
    + str(audience_id) + ',' + str(number_) + ',' + str(form_id) + ',' + str(day_of_the_week_id)' +'\');'''
    cur.execute(query)
    con.commit()

In [155]:
from datetime import datetime, date, time
import pandas as pd



def print_res():
    for row in cur:
        print(row)
        

def view_schedule():
    query = '''SELECT class_.id_, lesson.name_ as lesson_, class_.time_start, class_.time_end, teacher.name_ as teacher_, st_group_.number_ as group_,
    form.name_ as form_, day_of_the_week.name_ as day_, audience.number_ as audience_
    FROM class_, lesson, teacher, group_, form, day_week, audience_ WHERE class_.lesson_id = lesson.id_ AND
    class_.teacher_id = teacher.id_ AND class_.group_id = group_.id_ AND class_.form_id = form.id_ 
    AND class_.day_of_the_week_id = day_of_the_week.id_ AND class_.audience_id = audience.id_'''
    cur.execute(query)
    res = []
    for row in cur:
        for c in row:
            res.append(c)
    res[2] = res[2].strftime("%H:%M") 
    res[3] = res[3].strftime("%H:%M") 
    print(*res)
    con.commit()
    print_res()

In [1]:
view_schedule()

1 Основы программирования 11:15:00 12:50:00 Владимирова Л. В. 19.12 standard wednesday 808E 2 Математический анализ 13:40:00 14:40:00 Бедрина М. Е. 19.12 standard tuesday 111А 3 Математический анализ 15:00:00 16:30:00 Ганкевич И. Г. 19.14 standard monday 808Е 4 Основы программирования 16:30:00 18:00:00 Бедрина М. Е. 19.16 standard tuesday 111А 5 Математический анализ 18:00:00 19:00:00 Бедрина М. Е. 19.17 standard thursday 225Д 6 Теория управления 19:00:00 20:00:00 Ганкевич И. Г. 19.12 standard monday 123Д 7 Алгоритмы 21:00:00 22:00:00 Владимирова Л. В. 19.11 standard monday 225Д 8 Теория устойчивости 22:00:00 23:00:00 Владимирова Л. В. 19.16 standard tuesday 123Д

In [159]:
con.commit()  
con.close()